#map {
	position: fixed;
	width: 100vw; /* 뷰포트의 가로 너비 */
	height: 100vh; /* 뷰포트의 세로 높이 */
	left: 0;
	top: 0;
}

#interface {
	display: block;
	position: absolute;
	z-index: 9;
	background-color: #FFFFFF;
	padding: 10px 10px 10px 15px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	opacity: 0.9;
	margin: 8px;
}